/* Start Glopal Rules */


.container {
    padding-inline: 15px;
    margin-inline: auto;
}

/* Small Screens */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Midium Screens */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screens */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Glopal Rules */

.d-label {
    font-size: 24px;
    font-weight: bold;
    padding-inline: 15px;
    display: inline-block;
    margin-bottom: 15px;
}

.course-description {
    font-weight: 500;
    padding-inline: 30px;
}


.page {
    height: inherit;
    color: #E3E3E3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
    height: 40%;
}

.page .bottom {
    margin-top: 50px;
    text-align: left;
    height: 80%;
    width: 100%;
    margin-bottom: 0 ;
}

.page .top .photo img {
    width: 900px;
    height: 420px;
    margin-inline: 15px 25px;
    border-radius: 25px;
}

.page .top .photo {
    height: 100%;
    padding: 10px;
}

.text {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.page .top .text h2 {
    font-weight: bold;
    font-size: 36px;
}

.page .top .text p {
    margin: auto;
    line-height: 1.6;
    min-height: 140px;
    max-height: 140px;
    padding: 10px;
    font-weight: 500;
    overflow:scroll;
    scrollbar-width: none;
    text-overflow: ellipsis;

    font-size: 17px;
}

.page .top .text .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: bold;
}

.page .top .text .info .price {
    display: flex;
    align-items: center;
}

.page .top .text .info .price span:first-of-type {
    font-size: 45px;
    margin-right: 5px;
}

.page .top .text .info .price span:last-of-type {
    font-size: 45px;
}

.page .top .text .info .hours {
    display: flex;
    align-items: center;
}

.page .top .text .info .hours i {
    font-size: 45px;
    font-weight: normal;
    margin-right: 5px;
    margin-top: 2px;
}

.page .top .text .info .hours span {
    font-size: 45px;
}

.enroll-btn {
    display: block;
    width: 100%;
    margin-inline: auto;
    margin-block: 35px 15px;
    margin-top: 0;
    color: #E3E3E3;
    background-color: #862424;
    padding: 12px 60px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 12px;
    border: 2px solid #862424;
    transition: 0.3s;
    text-align: center;
}
.enroll-btn-disabled{
    display: block;
    width: 100%;
    margin-inline: auto;
    margin-block: 35px 15px;
    margin-top: 0;
    padding: 12px 60px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 12px;
    border: 2px solid #862424;
    transition: 0.3s;
    text-align: center;
    background-color: transparent;
    color: #862424;
}
.page .top .text .enroll-btn:hover {
    background-color: transparent;
    color: #862424;
}
