body {
    width: 100%;
    font-family: "Quicksand", serif;
    background: #121212;
    color: #e3e3e3;
    margin: 0;



}
footer{
    margin-top:auto;
}

.content {
    flex: 1;
    min-height:100vh;
    height:inherit;

}
